# Data Science Tools and Ecosystem

## Author
Venkata Ranjitha Obulareddy

## In this notebook, Data science tools and Ecosystems are summarized.

### Objectives:

- Listing popular languages for Data Science.
- Identifying commonly used libraries in Data Science.
- Introduction of arithmetic expression examples in Python.
- Demonstrating basic arithmetic operations in code cells.
- Providing an overview of the Data Science tools ecosystem.

Some of the popular languages that Data Scientists use are:

    1.Python
    2.R  
    3.Scala  
    4.Julia   
    5.Java   
    6.c++

Some of the commonly used libraries used by Data Scientists include:

1. PyTorch
2. Numpy
3. Pandas
4. Matplotlib
5. vegas
6. TensorFlow
7. ggplot

#### Developement Envirnoment open-source tools for data science:

|Data Science tools|
|---------|
|MySQL|
|MongoDB|
|mLeap|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335